body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header {
  background-color: #fff;
  border-bottom: 8px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  border-top: 8px solid #4aaaa5;
  background-color: #666;
  width: 100%;
  height: 70px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

.header-bar {
  width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content {
  max-width: 960px;
  min-width: 540px;
  margin: 20px auto;
  padding: 20px;
  line-height: 2;
  background-color: #fff;
  border: 2px solid #ddd;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-button {
  border: none;
  color: #777;
  margin: 20px 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button.not-first {
  border-left: 2px solid #eee;
}

#page-name-heading {
  background-color: #4aaaa5;
  color: #fff;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content-header {
  color: #4aaaa5;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 4px solid #ccc;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content-wrapper {
  width: 100vw;
  background-image: url("../images/content-background.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: scroll;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}